# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Truffle build directory
build/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
*.log

# Truffle deployment files
.openzeppelin/ 